:root {
  --colorOne: #d5ecf4;
  --colorTwo: #e5efd9;
  --colorThree: #fcf8c0;
  --colorFour: #ebebeb;
  --colorFive: #f4c5c3;
  --colorSix: #eeeeee;
  --colorSeven: #fcf8c0;
}

@media screen and (max-width: 850px) {
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  ul {
    list-style: none;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  .header {
    margin-top: 150px;
    margin-bottom: 50px;
  }

  .header .header__logo {
    background-image: url(https://i.pinimg.com/564x/38/9e/b7/389eb7548e0e63e1480ade8bb27cab54.jpg);
    width: 300px;
    background-position: center center;
  }

  .threeGrid {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-template-rows: 1fr 1fr;
  }

  .header__logo {
    grid-column: span 3;
    margin-left: 15%;
    margin-bottom: 30px;
  }

  .header__column {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .header__nav {
    margin: 0 40px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 500px;
  }

  .header {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 5%;
  }

  .header h1 {
    margin-top: 0;
    font-size: 60px;
  }

  .header .header__column {
    display: flex;
    justify-content: space-around;
  }

  .header__nav span {
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    display: block;
    max-width: 10px;
    color: rgba(0, 0, 0, 0.4);
  }

  .header__nav li {
    margin-bottom: 10px;
  }

  .header__nav li:last-child {
    margin-bottom: 0;
  }

  .grid {
    margin-right: -90px;
    grid-auto-rows: 30vh;
    grid-gap: 20px;
  }

  .grid .grid__item {
    background-size: cover;
    background-position: center center;
  }

  .grid .grid__item:first-child {
    grid-row: span 2;
    background-color: var(--colorOne);
  }

  .grid .grid__item:nth-child(2) {
    grid-area: span 2 / span 2;
    background-image: url(https://images.pexels.com/photos/1080721/pexels-photo-1080721.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  }

  .grid .grid__item:nth-child(3) {
    background-color: var(--colorTwo);
  }

  .grid .grid__item:nth-child(4) {
    background-image: url(https://images.pexels.com/photos/1129413/pexels-photo-1129413.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    grid-row: span 2;
  }

  .grid .grid__item:nth-child(5) {
    background-color: var(--colorThree);
  }

  .grid .grid__item:nth-child(6) {
    background-color: var(--colorFour);
  }

  .grid .grid__item:nth-child(7) {
    background-image: url(https://images.pexels.com/photos/276663/pexels-photo-276663.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  }

  .grid .grid__item:nth-child(8) {
    grid-area: span 2 / span 2;
    background-color: var(--colorFive);
  }

  .grid .grid__item:nth-child(9) {
    grid-row: span 2;
    background-image: url(https://images.pexels.com/photos/698170/pexels-photo-698170.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  }

  .grid .grid__item:nth-child(10) {
    grid-area: span 2 / span 2;
    background-image: url(https://images.pexels.com/photos/534151/pexels-photo-534151.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  }

  .grid .grid__item:nth-child(11) {
    background-image: url(https://images.pexels.com/photos/238377/pexels-photo-238377.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  }

  .grid .grid__item:nth-child(12) {
    background-image: url(https://images.pexels.com/photos/158613/sofa-vintage-furniture-museum-158613.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  }

  .grid .grid__item:nth-child(13) {
    grid-area: span 2 / span 2;
    background-color: var(--colorSix);
  }

  .grid .grid__item:nth-child(14) {
    background-image: url(https://images.pexels.com/photos/273822/pexels-photo-273822.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  }

  .grid .grid__item:nth-child(15) {
    background-color: var(--colorSeven);
  }
}

@media screen and (min-width: 850px) {
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  ul {
    list-style: none;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  .header .header__logo {
    background-image: url(https://i.pinimg.com/564x/38/9e/b7/389eb7548e0e63e1480ade8bb27cab54.jpg);
    width: 300px;
    background-position: center center;
  }

  .threeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 0.6fr;
    margin-bottom: 200px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 500px;
  }

  .header {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 5%;
  }

  .header h1 {
    margin-top: 0;
    font-size: 60px;
  }

  .header .header__column {
    display: flex;
    justify-content: space-around;
  }

  .header__nav span {
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    display: block;
    max-width: 10px;
    color: rgba(0, 0, 0, 0.4);
  }

  .header__nav li {
    margin-bottom: 10px;
  }

  .header__nav li:last-child {
    margin-bottom: 0;
  }

  .grid {
    grid-auto-rows: 30vh;
    grid-gap: 20px;
  }

  .grid .grid__item {
    background-size: cover;
    background-position: center center;
  }

  .grid .grid__item:first-child {
    grid-row: span 2;
    background-color: var(--colorOne);
  }

  .grid .grid__item:nth-child(2) {
    grid-area: span 2 / span 2;
    background-image: url(https://images.pexels.com/photos/1080721/pexels-photo-1080721.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  }

  .grid .grid__item:nth-child(3) {
    background-color: var(--colorTwo);
  }

  .grid .grid__item:nth-child(4) {
    background-image: url(https://images.pexels.com/photos/1129413/pexels-photo-1129413.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    grid-row: span 2;
  }

  .grid .grid__item:nth-child(5) {
    background-color: var(--colorThree);
  }

  .grid .grid__item:nth-child(6) {
    background-color: var(--colorFour);
  }

  .grid .grid__item:nth-child(7) {
    background-image: url(https://images.pexels.com/photos/276663/pexels-photo-276663.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  }

  .grid .grid__item:nth-child(8) {
    grid-area: span 2 / span 2;
    background-color: var(--colorFive);
  }

  .grid .grid__item:nth-child(9) {
    grid-row: span 2;
    background-image: url(https://images.pexels.com/photos/698170/pexels-photo-698170.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  }

  .grid .grid__item:nth-child(10) {
    grid-area: span 2 / span 2;
    background-image: url(https://images.pexels.com/photos/534151/pexels-photo-534151.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  }

  .grid .grid__item:nth-child(11) {
    background-image: url(https://images.pexels.com/photos/238377/pexels-photo-238377.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  }

  .grid .grid__item:nth-child(12) {
    background-image: url(https://images.pexels.com/photos/158613/sofa-vintage-furniture-museum-158613.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  }

  .grid .grid__item:nth-child(13) {
    grid-area: span 2 / span 2;
    background-color: var(--colorSix);
  }

  .grid .grid__item:nth-child(14) {
    background-image: url(https://images.pexels.com/photos/273822/pexels-photo-273822.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  }

  .grid .grid__item:nth-child(15) {
    background-color: var(--colorSeven);
  }
}
